<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../template/head') %> 
</head>
<body>
    <header>
        <%- include('../template/header') %>
    </header>

    <h1>MICROAPI About Page Content</h1>
    <div class="container">
        <ul>
            <li>Who we are</li>
            <li>What matters to us</li>
            <li>What we do</li>
            <li>How we do it</li>
            <li>The team</li>
        </ul>
    </div>
    <!-- @tomii and @charles onuorah - footer section start -->
  <div class="amplified">
    <p>Get Amplified Now</p>
    <div class="action">
      <a href="/register" class="btn btn-main"> Register </a>
      <a href="/login" class="btn btn-main btn-main--outline">Log In</a>
    </div>

  </div>
    <footer>
        <%- include('../template/footer') %>
    </footer> 
</body>